<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExtensionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HealthKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ShareDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B4218321C859EF500C63D6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B4218461C85A35A00C63D6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B4EEBD11C3CC40A008DE38E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B4EEBEA1C3CC40A008DE38E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B4EEBF51C3CC40A008DE38E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
